.App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 10, 10);
  }
 
 /* Login/Register design */



  .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./components/img/JTIFY.png') no-repeat center;
    background-size: cover; 
    z-index: -1;
  }
  .auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 200px) {
    .auth-form-container{
      padding: 2rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: .5rem;
    
    }
  
  }
  Footer{
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
  }
  
  label{
    text-align: left;
    padding: .5rem 0;
  }
  
  input{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  .login-button{
    border: none;
    margin-bottom: 100%;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgb(138, 62, 236);
    box-shadow: 0 5px 15px rgba(171, 1, 250, 0.623);
  }

  .link-btn{
    
    background: rgba(18, 3, 20, 0.89);
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

  }

 .form-control{
    width: 370px;
 }

 .logo-image{
    height: 100;
    width: 220;
 }

  /* Login/Register design */
  

 /* Homepage design */


/* Navbar design */

.Navbar-items {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 15px ;
  margin-left: 10px;
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.Navbar-items:hover {
  box-shadow: 0px 0 35px 5px rgba(255, 255, 255, 0.7); /* Add softer glow effect */
  transform: scale(1.05); /* Slight increase in size */
}

/* Navbar design */


 /* for pop-up message */

.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 9999;
}

.popup-content {
  margin-bottom: 20px;
}

.popup-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

 /* for pop-up message */

 /* background template */
.template-background{
  
  flex: 1;
  margin-left: 10px; 
  position: relative;
  background-color: rgba(8, 8, 8, 0.8); 
  overflow-x: auto; 
  padding: 10px 0; 
  background-image: url('./components/img/transparentBackground.png');
  background-size: cover;
}

  
  /* background template */

  
  /* Contact Page design */

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  padding: 20px;

}

.contact-form {
  border: 1px solid #ccc;
    width: 70%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.163);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  box-shadow: 0 0 10px rgba(167, 20, 20, 0.1);
  color : white;
}

.contact-form label {
  text-align: left;
  padding: 10px 0;
  color: white;
}

.contact-form input,.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #61dafb;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #61dafb;
}


/* CompanyContact design */
.company-contact-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.163);
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  margin-right: 10px; /* Add space to the right */
  margin-left: 10px; /* Add space to the left */
}

.company-contact-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Contact Page design */


/* Discovery page design */

.custom-button {
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: #8d42aa;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

/* Add hover effect */
.custom-button:hover {
  background-color: #151616;
}

/* Discovery page design */

   .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    min-height: calc(-673px + 100vh);
  }

  .profile-card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    max-width: 100%;
    padding: 3rem;
    border-radius: 10px;
    margin-left: -0.5rem;
  }
  
  .profile-card img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    margin: 1rem 2rem;
    width: 250px;
  }
  
  .profile-card h1 {
    color: white;
    text-align: left; 
    margin: 0.5rem;
  }
  
  .profile-card h1:first-child {
    margin-top: 1rem;
    font-size: 15px;
    margin-bottom: -0.5rem;
    font-weight: 400;
  }
  
  .profile-card h1:last-child {
    visibility: visible; 
    width: 100%; 
    font-size: 4rem; 
    white-space: normal;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 768px) {
    .profile-card {
      flex-direction: column;
    }
  
    .profile-card h1:last-child {
      font-size: 1.5rem;
    }
  }


 .name-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: left;
  position: relative;
 }
 .name-card div{
  margin-bottom: 10px;
  margin-left: 20px;
 }
 .name-card input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;  
}

.name-card label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.name-card #name {
  margin-bottom: 10px;
}

.editsong-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  min-height: calc(-673px + 173vh);
  margin: 0.5rem;
  margin-top: -0.1rem;
  margin-right: 1rem;
  border-radius: 20px;
}

/* artistregister */

.artist-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: left;
  
}

/*Scrollbar design*/

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Admin Panel page design */

.card-container {
  overflow-x: auto;
}

.admin-button {
  padding: 8px 16px;
  
  border: none;
  background-color: #d31010;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.admin-button:hover {
  background-color: #ff6666;
}

/* Admin Panel page design */